body {
    background-image: url("./images/pokemon-rouge-feu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*
header {
    background-color: aliceblue;
}
*/
h1 {
    background-color: rgba(0, 0, 0, 0.561);
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: aqua;
    border-radius: 5px; 
}

.Container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.ContainerTwo {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.Rules {
    background-color: rgba(240, 248, 255, 0.623);
    display: flex;
    border-radius: 5px; 
    align-items: center;
    width: 200px;
    text-align: center;
    border-style: solid;
    border-color: rgba(137, 43, 226, 0.383);
    border-width: 1px;
}

.RulesTwo {
    background-color: rgba(240, 248, 255, 0.623);
    display: flex;
    margin: 5px;
    border-radius: 5px; 
    align-items: center;
    width: 200px;
    text-align: center;
    border-style: solid;
    border-color: rgba(137, 43, 226, 0.383);
    border-width: 1px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
